.About {
    flex-grow: 1;
    margin: 200px 0 0px 0;
    padding-top: 100px;
}

.About h2 {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: #000;
}

.About h2::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 230px;
    height: 3px;
    background: #3f71f4;
    transform: translateX(-50%);
}

.About p {
    padding: 0 100px;
}