.comment-form {
    background-color: #fff;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    padding: 1rem;  
}

.comment-form-fields {
    margin-bottom: 0.25rem;
}

.comment-form-fields input,
.comment-form-fields textarea {
    border: none;
    border-bottom: 1px solid #404040;
    font-size: 0.85rem;
    padding: 0.25rem 0;
    border-radius: 0;
}

.comment-form-fields input:focus,
.comment-form-fields textarea:focus {
    border-bottom-color: #00BDFC;
    outline: none;
}

.comment-form-fields textarea {
    font-style: italic;
}
