.Comment {
    border-top: 0.125rem solid #404040;
}

.comment-header {
    font-weight: bolder;
}

.comment-body {
    font-style: italic;
    margin-left: 1rem;
}

.comment-footer {
    margin-bottom: 1rem;
    text-align: end;
}

.comment-footer-delete {
    padding: 0.2rem 0;
    color: #cc203c;
    font-weight: lighter;
    text-decoration: none;
}

.comment-footer-delete:hover {
    color: #cc203c;
    font-weight: 800;
}