.Navbar {
    padding-top: 10px;
    position: fixed;
    max-width: 1300px;
    width: 100%;
    height: 100px;
    z-index: 999;
    background-color: #fff;
  }
  
  .logo {
    display: flex;
    max-width: 110px;
    padding: 0 0 0 20px;
  }
  
  .logo img {
    width: 90%;
    margin-left: -18px;
  }
  
.dropdown-menu {
  position: inherit;
}
