.row-equal > div[class='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card { width: 100%; }

.carousel-inner > .row-equal.active,
.carousel-inner > .row-equal.next,
.carousel-inner > .row-equal.prev {
    display: flex;
}

.card-text {
    line-height: normal;
    padding: 1rem;
}

.carousel-inner > .row-equal.active.left,
.carousel-inner > .row-equal.active.left {
    opacity: 0.5;
    display: flex;
}

.card-img-top-250 {
    max-height: 180px;
    overflow: hidden;
}

.Projects h3{
    color: #3f71f4;
}

.Projects h2 {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
}


.Projects h2::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 230px;
    height: 3px;
    background: #3f71f4;
    transform: translateX(-50%);
}