.row-equal > div[class='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card { width: 100%; }

.carousel-inner > .row-equal.active,
.carousel-inner > .row-equal.next,
.carousel-inner > .row-equal.prev {
    display: flex;
}

.carousel-inner > .row-equal.active.left,
.carousel-inner > .row-equal.active.left {
    opacity: 0.5;
    display: flex;
}

.card-img-top-250 {
    max-height: 180px;
    overflow: hidden;
}

.card-header {
    color: dodgerblue;
}

.Projects h2 {
    margin-bottom: 20px;
    padding: 0 100px;
}