* {
  padding: 0;
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New" !important;
  
}

body {
  margin: 0;
  font-family: "Roboto Condesed" sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dde8fc !important;

}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0  auto;
  padding: 0 15px;
  max-width: 1280px;
}

p {
  line-height: 30px !important;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New" !important;
}

h1,h2 {
  font-family: "Righteous", cursive !important;
}